.wrapper{
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    min-width: 100px;
    justify-content: center;
    align-items: center;
    padding: 9px 16px;
    background: rgba(44, 44, 44, 0.8);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 10px 0px;
    user-select: none;
    &:hover{
        text-decoration: underline;
    }

    &.disabled{
        pointer-events: none;
        opacity: 0.5;
        cursor: not-allowed;
    }

    +.wrapper{
        margin-left: 8px;
    }
}

.icon + .title, .title + .icon{
    margin-left: 8px;
}

//Button type

.primary{
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
    &:hover{
        background-color: linear-gradient(0deg, rgba(254, 44, 85, 0.8), rgba(254, 44, 85, 0.8));
        text-decoration: none;
    }
}

.outline{
    border-color: currentColor;
    color: var(--primary);
    background-color: var(--white);
    &:hover{
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.rounded{
    border-radius: 999px;
    height: 38px;
    min-width: 110px;
    padding: 0 16p;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.06);
    border-color: rgba(22, 24, 35, 0.12);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    &:hover{
        background-color: rgba(255, 255, 255, 1);
        border-color: rgba(22, 24, 35, 0.2);
    }
    &.white{
        color: var(--black);
    }
}

.text{
    background-color: transparent;
    box-shadow: none;
    color: var(--black);
    &:hover{
        text-decoration: underline;
    }
}
//Button sizes
.small{
    min-width: 88px;
    padding: 4px 15px;
}

.large{
    min-width: 140px;
    padding: 12px 16px;
}

