.menu-list {
  width: 224px;
}

.menu-item {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  text-align: left;
  border-radius: 0;
  border-color: rgba(22, 24, 35, 0.12);
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;

  &:hover {
    background-color: rgba(22, 24, 35, 0.08);
    text-decoration: none;
  }
}

.menu-item + .menu-item {
  margin-left: 0;
  border-top: 0;
}

.menu-popper {
  padding-bottom: 8px;
}

//Header
.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: rgba(22, 24, 35, 0.08);
  }
}

.header-title {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  transform: translate(-50%, -50%);
}
